html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding-bottom: 82px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  background-color: #EEF5DB;
  color: #333745;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.heading_primary {
  font-size: 56px;
  padding: 20px 0;
  color: #E63462;
  text-align: center;
  margin-bottom: 40px;
}

.heading_secondary {
  font-size: 32px;
  text-align: center;
  margin: 26px 0;
  color: #E63462;
}

.recipe-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recipe-card {
  padding: 20px;
  background-color: #C7EFCF;
  cursor: pointer;
  border-radius: 12px;
}

.list-item__link:link,
.list-item__link:visited {
  font-size: inherit;
  text-decoration: none;
  color: #333745;
  transition: all 0.15s;
}

.list-item__link:hover,
.list-item__link:active {
  color: #E63462;
}

.image-container {
  text-align: center;
  margin-bottom: 42px;
}

.recipe-image {
  width: 400px;
  height: auto;
}